@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bg-color: #25292e;
$default-font-color: #e0e0e0;

*{
  box-sizing: border-box;
  list-style: none;
}
html{
  font-size: 10px;
}
body {
  background-color: $bg-color;
  color:$default-font-color;
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
}

